

.vjs-big-play-button{
	line-height: 68px !important;
	height: 70px !important;
	width: 70px !important;
	border-radius: 40px !important;
	/* display: none; */
}

.last_played_title {
	font-size: 12px;
	color: black;
}

.prev_movie_button {
	
}

.next_movie_button {
	right: 0;
}

.player_control_button:active {
	color: lightgray !important
}

.title_flash {
	color: lightgray;
	z-index: 20;
	font-size: 20px;
	position: absolute;
	font-weight: bold;
	text-align: center;
	width: 100%;
	pointer-events: none;
	text-shadow: 0 0 2px #aaa;
}

.regen_image {
	position: absolute;
	top: 10px;
	width: 30px;
	height: 30px;
	background-color: black;
	right: 10px;
	border-radius: 15px;
	line-height: 30px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.movie_info_panel {
	position: absolute;
	background-color: white;
	margin: 3px;
	border-radius: 10px;
	z-index: 30;
	padding: 5px;
}

.details_closer {
	font-size: 14px !important;
	line-height: 18px !important;
	font-weight: normal !important;
}

.details_button {
	float: left;
	width: 18px;
	color: white;
	font-size: 11px;
	clear: left;
	margin: 0 5px 5px 0;
	text-align: center;
	text-decoration: none;
	background-color: gray;
	border-radius: 15px;
	height: 18px;
	line-height: 21px;
	font-weight: bold;
}

.details_container {
	overflow: hidden;
}

.movie_info_panel label {
	font-size: 12px;
}

.player_panel_container {
	overflow: hidden;
}

.media_list {
	font-size: 16px;
	padding-top: 10px;
}

.progress_bar {
	height: 3px;
	width: 220px;
	background: black;
	position: relative;
	top: -10px;
	left: 20px;
	border: 1px solid gray;
	border-radius: 3px;
}

.curtain {
	background-color: black;
}

.side_scroller:hover {
	color: gray;
}

.spinner {
	position: absolute;
	z-index: 10;
	text-shadow: 0px 0px 5px white;
	left: 40%;
	color: gray;
}

.info_spinner {
	font-size: 35px;
	bottom: 40%;
}

.hover_item_left {
    font-size: 12px;
    margin-left: 25px;
    float: right;
    position: absolute;
    display: block;
	color: inherit;
	text-decoration: none;
}

.hover_item_right {
	font-size: 12px;
	margin-right: 5px;
	float: left;
	color: inherit;
	text-decoration: none;
}

.hover_item_r {
	display: inline-block;
	text-align: right;
	float: left;
}

.hover_item_l {
	display: inline-block;
	float: left;
}

.side_scroller {
	width: 60px;
	height: 185px;
	position: absolute;
	z-index: 10;
	color: transparent;
	line-height: 185px;
}

.side_scroller {
	cursor: pointer;
	cursor: hand;
	outline: none;
}

.scroll_right {
	right: 0;
	text-align: right;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.scroll_left {
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.player_panel {
	background-color: black;
	margin: 0 auto;
	max-width: 640px;
}

#playerElem {
	margin: 0 auto;
}

.hidden {
	visibility: hidden;
}

label{
	display: block;
}

.movie_group_play_options {
	height: 190px;
	padding: 10px 10px 0;
	font-size: 16px;
	border-bottom-left-radius: 20px;
	position: absolute;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: gray;
	z-index: 10;
	pointer-events:none;
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 37%,rgba(255,255,255,0) 100%);
}

.group_play_option {
	margin-bottom: 5px;
}

.group_play_option span {
	margin-left: 5px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	text-shadow: 0px 0px 15px white;
	text-overflow: ellipsis;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
}

.movie_folder {
	margin: 10px 10px 5px 0px;
}

.subtab {
	position: relative;
	border-style: solid;
	border-color: gray;
	border-width: 1px 1px 0 1px;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 20px 20px 0 0;
	background-color: white;
	text-align: center;
	height: 20px;
	margin-top: 2px;
	box-shadow: 5px -2px 2px -1px rgba(0, 0, 0, 0.3);
	background: linear-gradient(to bottom,  #ffffff 69%,#B5B5B5 100%);
	z-index: 20;
}

.subtab.open {
	top: 1px;
	background: white;
	box-shadow: 5px -3px 2px -1px rgba(0, 0, 0, 0.3);
}

.media_list > .folder {
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 20px;
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.play_item {
	width: 256px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 10px;
	position: relative;
	background-color: black;
}

.play_item_reflection{
	width: 256px;
	height: 30px;
	border-radius: 0 0 10px 10px;
	transform: rotateX(180deg);
}

.play_item_label_container {
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	z-index: 10;
	width: 246px;
	padding-left: 5px;
}

.play_item_container {
	margin: 10px 10px 0 25px;
	display: inline-block;
	position: relative;
}

.play_item_shadow {
	width: 60px;
	height: 30px;
	background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0) 30px);
	position: absolute;
	left: -20px;
	top: 115px;
}

.thumbslider {
	overflow-x: visible;
	height: 200px;
	white-space: nowrap;
	overflow-y: hidden;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: gray;
	float: right;
	position: absolute;
	left: 50px;
	right: 100px;
	padding-left: 80px;
}

.slide_group {
	height: 200px;
}

.play_link {
	font-size: 136px;
	color: white !important;
	opacity: 0.1;
	text-align: right;
	width: 120px;
	line-height: 144px;
	margin-left: 45px;
}

.play_link:hover {
	opacity: 0.3;
}

.movie_item_right {
	color: rgba(255, 255, 255, 0.5);
	margin: 5px 5px 5px 0;
	float: right;
	clear: right;
	text-decoration: none;

}

.movie_item_left {
	color: rgba(255, 255, 255, 0.5);
	margin: 5px 0 5px 5px;
	float: left;
	clear: left;
	text-decoration: none;

}

.movie_item_right:active, .movie_item_left:active {
	color: red;
}

.play_item_thumb {
	height: 144px;
	background-repeat: no-repeat;
	background-position: 50%;
}

body{
	font-family: arial;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.slider_shadow{
	box-shadow: 5px -4px 2px -1px rgba(0, 0, 0, 0.3);
}

.open{
	color: red !important;
}

.blackdrop {
	background-color: black;
	float: left;
}

